.board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.deck-wrapper {
  grid-area: deck;
  padding: 20px;
}

.opponent-wrapper {
  width: auto;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.table-wrapper {
  grid-area: table;
  padding: 20px;
}

.main-player-wrapper {
  grid-area: mainPlayer;
  padding: 20px;
}
